.body {
  display: flex;
  flex-grow: 1;
  background: $dark;
  height: 100vh;
  .main {
    background: $light;
    flex-grow: 1;
  }
  .nav-1 {
    order: -1;
    width: 180px;
  }
  .nav-2 {
    width: 180px;
  }
}
