.main {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}

.album {
  display: flex;
  height: 280px;
  width: 280px;
  background: pink;
  border: 1px solid black;
  margin: 10px;
}
